<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home List</title>
</head>

<body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-white border-b border-gray-200 shadow-md">
        <%- include("partial/nav") %>
    </header>

    <main class="max-w-7xl mx-auto py-8 px-4 mt-12">
        <% if(homes.length===0) { %>
            <h1 class="text-3xl font-bold text-center mt-20 text-gray-700 ">
                No Homes Available
            </h1>
            <% } else { %>
                <h1 class="text-3xl font-bold text-gray-800 mb-6">Home airbnb Listings</h1>

                <!-- Cards Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
                    <% homes.forEach(home=> { %>
                        <article
                            class="bg-white rounded-2xl shadow-lg hover:shadow-2xl transition-shadow duration-300 overflow-hidden">
                            <img src="<%= home.imageUrl %>" alt="House" class="w-full h-56 object-cover">

                            <div class="p-5">
                                <h3 class="text-xl font-semibold text-gray-800 mb-1">
                                    <%= home.houseName %>
                                </h3>
                                <% if(home.location){ %>
                                    <p class="text-sm text-gray-500 mb-1">
                                        <i class="fa-solid fa-location-crosshairs"></i>
                                        <%= home.location %>
                                    </p>
                                    <% } %>
                                        <p class="text-sm text-gray-500 mb-3">
                                            <%= home.email %>
                                        </p>

                                        <div class="flex justify-between items-center mb-4">
                                            <span class="text-sm text-gray-600 flex items-center gap-1">⭐ <%=
                                                    home.rating %></span>
                                            <span class="text-lg font-semibold text-gray-800">₹<%= home.price %></span>
                                        </div>
                                        <div>
                                            <p class="text-gray-700">
                                                <%= home.description %>
                                            </p>
                                        </div>
                                        <div class="flex gap-3 mt-5">
                                            <a href="#"
                                                class="flex-1 px-4 py-2 border border-gray-300 rounded-lg text-center hover:bg-orange-600 hover:text-black text-gray-700 hover:bg-gray-100 transition">
                                                Book Now
                                            </a>

                                        </div>
                            </div>
                        </article>
                        <% }) %>
                </div>
                <% } %>
    </main>
</body>

</html>